RewriteEngine On
RewriteRule ^login$ views/login.php [L]
RewriteRule ^register$ views/register.php [L]
RewriteRule ^admin$ public/admin.php [L]
RewriteRule ^$ views/login.php [L]
RewriteRule ^process/(.*)$ process/$1 [L]
RewriteRule ^process/.*$ /index.php [L]